<div class="max-w-2xl p-6 rounded-lg shadow bg-neutral-800 border-neutral-700 mb-9">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-white"><%= content_block_title(content_alias, false)%></h5>
  <p class="mb-3 font-normal text-neutral-200">
    <%= unless header_image.nil? then image_tag header_image, class: "w-48" end %>
    <div class="mb-3 font-normal text-neutral-200"><%= content_block(content_alias, false)%></div>
  </p>
</div>