<div class="max-w-2xl w-full md:p-6 p-4 rounded-lg shadow bg-orange-950 md:mb-7 mb-4 bg-opacity-70">
<h5 class="fmb-2 text-2xl font-bold tracking-tight text-white mb-2">Contact me on social media...</h5>
<%= render 'shared/socials' %>
  <h5 class="fmb-2 text-2xl font-bold tracking-tight text-white">... or send me a message</h1>
  <%= render "form", contact: @contact %>
</div>


