<div class=" w-full max-w-2xl p-6 rounded-lg shadow bg-neutral-800 border-neutral-700 mb-9 h-fit">
  <h5 class="fmb-2 text-2xl font-bold tracking-tight text-white">Send me a message</h1>
  <%= render "form", contact: @contact %>
</div>


