<% # Set Page Title %>
<% content_for :title do %>Gallery<% end %>
<%= render "shared/generic_card", content_alias: 'gallery-header', header_image: nil, show_socials: false %>
<% # Render a custom two-column double width card. Fill it with clips as defined in clips table. %>
<div class="max-w-2xl md:p-6 p-4 rounded-lg shadow bg-orange-950 md:mb-7 mb-4 bg-opacity-70">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Clips</h5>
  <p class="mb-3 font-normal text-neutral-200">
    <div class="grid grid-cols-2 gap-3">
      <div class="text-white">
        <h5 class="mb-2 text-xl font-semibold tracking-tight text-white h-16">BBC New Comedian of the Year Awards 2022
        </h5>
        <iframe width="100%" height="315"
          src="https://www.youtube-nocookie.com/embed/NV-jUCELXw4?si=QlL4qyiHLE1Uxx-M" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe><br />
      </div>
      <div class="text-white">
        <h5 class="mb-2 text-xl font-semibold tracking-tight text-white h-16">Chortle Fast Fringe</h5>
        <iframe
          width="100%" height="315" src="https://www.youtube-nocookie.com/embed/biLuZJPu6EQ?si=QlL4qyiHLE1Uxx-M"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe><br />
      </div>
      <div class="text-white">
        <h5 class="mb-2 text-xl font-semibold tracking-tight text-white h-16">Funny Women Awards
        </h5>
        <iframe width="100%" height="315"
          src="https://www.youtube-nocookie.com/embed/C2zUh-NSW6U?si=QlL4qyiHLE1Uxx-M" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe><br />
      </div>
      <div class="text-white">
        <h5 class="mb-2 text-xl font-semibold tracking-tight text-white h-16">Bill Murray</h5>
        <iframe
          width="100%" height="315" src="https://www.youtube-nocookie.com/embed/-kxEc8Mtpog?si=QlL4qyiHLE1Uxx-M"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe><br />
      </div>
    </div>
  </p>
</div>